language: python
python:
    - "2.7"

virtualenv:
    system_site_packages: true
before_install:
    - sudo apt-get install python-numpy
    - sudo apt-get install python-scipy
install:
    - pip install future 
    - pip install coverage 
script:
    - nosetests